/* Regole generali pagina */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 50px;
}

/* Regole div generati contenenti numeri randomici */
#output div {
    display: inline-block;
    margin-right: 30px;
    font-size: 30px;
}

/* Regole div per risultato del puntaggio fatto */
#risulatoPunteggio {
    font-size: 30px;
}

/* HIDDEN */
.hidden {
    display: none;
}